In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from datetime import timedelta
from statistics import mean


#data

In [2]:
def fullDay(data):
        
    dates = list()
    data = data.reset_index(drop=True)
    for i in range(0,len(data.index)):
        dates.append(data['Display Time'][i].date())
    data['Dates'] = dates
    end = data['Dates'].iloc[-1]
    start = data['Dates'].iloc[0]

    indexVals = data[ data['Dates'] == start ].index
    # indexVals
    data.drop(indexVals , inplace=True)

    indexVals = data[ data['Dates'] == end ].index
    # indexVals
    data.drop(indexVals , inplace=True)

    data = data.reset_index(drop=True)

    data.drop(['Dates'], axis=1, inplace=True)

    return data

In [4]:
data = pd.read_csv("~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/consolidatedDataForPackage.csv")
data['Display Time'] = pd.to_datetime(data['Display Time'])
data['GlucoseValue'] = pd.to_numeric(data['GlucoseValue'])
xx = data[data['subjectId'] == "OD552"]
print(xx.dtypes)
xx.head()

Display Time    datetime64[ns]
GlucoseValue           float64
subjectId               object
dtype: object

              Display Time  GlucoseValue subjectId
272473 2025-04-16 11:17:05          95.0     OD552
272474 2025-04-16 11:22:05          86.0     OD552
272475 2025-04-16 11:27:05          81.0     OD552
272476 2025-04-16 11:32:05          81.0     OD552
272477 2025-04-16 11:37:05          82.0     OD552

In [5]:
xx = fullDay(xx)
xx.head()

         Display Time  GlucoseValue subjectId
0 2025-04-17 00:02:07          81.0     OD552
1 2025-04-17 00:07:07          80.0     OD552
2 2025-04-17 00:12:07          80.0     OD552
3 2025-04-17 00:17:07          81.0     OD552
4 2025-04-17 00:22:07          82.0     OD552

In [7]:
meanCalculations(xx)

(144.8855701692815, 140.88062343389174)