In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from statistics import mean
from datetime import timedelta

import math

import warnings  
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/consolidatedDataForPackage.csv")
data['Display Time'] = pd.to_datetime(data['Display Time'])
data['GlucoseValue'] = pd.to_numeric(data['GlucoseValue'])

In [3]:
def fullDay(data):
        
    dates = list()
    data = data.reset_index(drop=True)
    for i in range(0,len(data.index)):
        dates.append(data['Display Time'][i].date())
    data['Dates'] = dates
    end = data['Dates'].iloc[-1]
    start = data['Dates'].iloc[0]

    indexVals = data[ data['Dates'] == start ].index
    # indexVals
    data.drop(indexVals , inplace=True)

    indexVals = data[ data['Dates'] == end ].index
    # indexVals
    data.drop(indexVals , inplace=True)

    data = data.reset_index(drop=True)

    data.drop(['Dates'], axis=1, inplace=True)

    return data

In [23]:
def hourlySamples(df):
    groupkey = df['Display Time'].values.astype('datetime64[h]')
    result = df.groupby(groupkey).mean()
    result = result.reset_index(drop=True)
    return (result)

In [38]:
def glucoseLiabilityIndex(data, unit):
    if unit == 'mg':
        data['GlucoseValue'] = data['GlucoseValue']/18
    gli = np.sum(np.power(data['GlucoseValue'][i] - data['GlucoseValue'][i+1],2) for i in range(0, len(data.index)-1))
    return round(gli)

In [43]:
xx = data[data['subjectId'] == "1636-69-032"]
print(xx.dtypes)
xx = fullDay(xx)
xx = hourlySamples(xx)

Display Time    datetime64[ns]
GlucoseValue           float64
subjectId               object
dtype: object

In [44]:
xx

     GlucoseValue
0      126.833333
1      125.166667
2      122.000000
3      112.333333
4      104.333333
..            ...
115    113.083333
116    129.250000
117    134.250000
118    114.500000
119    124.500000

[120 rows x 1 columns]

In [45]:
LI = glucoseLiabilityIndex(xx, 'mg')
print(LI)

25.0

In [41]:
for subjectId, df in data.groupby('subjectId'):
    df = fullDay(df)
    df = hourlySamples(df)
    LI = glucoseLiabilityIndex(df, 'mg')
    print(subjectId,LI)

1636-69-001 79.0
1636-69-001-2 92.0
1636-69-026 166.0
1636-69-028 34.0
1636-69-032 25.0
1636-69-035 225.0
1636-69-048 41.0
1636-69-053 97.0
1636-69-060 58.0
1636-69-064 170.0
1636-69-069 95.0
1636-69-090 126.0
1636-69-091 47.0
1636-69-100 28.0
1636-69-104 48.0
1636-69-104-2 41.0
1636-69-107 83.0
1636-69-111 20.0
1636-69-114 35.0
1636-69-123 48.0
1636-70-1002 90.0
1636-70-1003 72.0
1636-70-1005 239.0
1636-70-1008 127.0
1636-70-1010 78.0
2133-001 62.0
2133-002 63.0
2133-003 184.0
2133-004 197.0
2133-006 31.0
2133-007 113.0
2133-008 44.0
2133-009 76.0
2133-010 48.0
2133-011 85.0
2133-012 59.0
2133-013 140.0
2133-015 78.0
2133-017 116.0
2133-018 359.0
2133-019 31.0
2133-019-2 5.0
2133-020 185.0
2133-021 228.0
2133-022 191.0
2133-023 48.0
2133-024 122.0
2133-025 70.0
2133-026 42.0
2133-027 52.0
2133-028 24.0
2133-030 34.0
2133-032 38.0
2133-033 71.0
2133-035 84.0
2133-036 273.0
2133-037 63.0
2133-039 242.0
2133-040 52.0
2133-041 111.0
GVP01 351.0
GVP03 49190.0
ID01 321.0
ID02 67.0
ID03 222.0
ID11 139.0
ID12 171.0
ID13 88.0
ID21 142.0
ID22 77.0
ID23 283.0
ID29 64.0
ID30 43.0
ID31 13.0
ID32 382.0
ID33 104.0
OD540 4332.0
OD544 3459.0
OD552 2970.0
OD559 5748.0
OD563 3014.0
OD567 5168.0
OD570 2248.0
OD575 5172.0
OD584 5272.0
OD588 3052.0
OD591 4623.0
OD596 2492.0