In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from statistics import mean
from datetime import timedelta

import math

In [2]:
data = pd.read_csv("~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/consolidatedDataForPackage.csv")
data['Display Time'] = pd.to_datetime(data['Display Time'])
data['GlucoseValue'] = pd.to_numeric(data['GlucoseValue'])

In [3]:
def fullDay(data):
        
    dates = list()
    data = data.reset_index(drop=True)
    for i in range(0,len(data.index)):
        dates.append(data['Display Time'][i].date())
    data['Dates'] = dates
    end = data['Dates'].iloc[-1]
    start = data['Dates'].iloc[0]

    indexVals = data[ data['Dates'] == start ].index
    # indexVals
    data.drop(indexVals , inplace=True)

    indexVals = data[ data['Dates'] == end ].index
    # indexVals
    data.drop(indexVals , inplace=True)

    data = data.reset_index(drop=True)

    data.drop(['Dates'], axis=1, inplace=True)

    return data

In [12]:
def hourlySamples(df):
    groupkey = df['Display Time'].values.astype('datetime64[h]')
    result = df.groupby(groupkey).first().set_index('Display Time')
    return (result)

In [27]:
def convertUnits(data, unit):
    if unit == 'mmol':
        if(data['GlucoseValue'][0]>18):
            in_mmols = pd.DataFrame({'Display Time':data['Display Time'], 'GlucoseValue':data['GlucoseValue']/18, 'subjectId':data['subjectId']})
            return in_mmols
        else:
            print("Data already in mmols")
            return data
    elif unit == 'mg':
        if(data['GlucoseValue'][0]<18):
            in_mgs = pd.DataFrame({'Display Time':data['Display Time'], 'GlucoseValue':data['GlucoseValue']*18, 'subjectId':data['subjectId']})
            return in_mgs
        else:
            print("Data already in mgs")
            return data
    else:
        print("Invalid unit. Please enter 'mmol' or 'mg'. ")

In [36]:
def glucoseLiabilityIndex(data, unit):
    if unit != 'mmol':
        print("Unit must be mmol")
        return 0
    s = data['GlucoseValue'] - data['GlucoseValue'].shift(-1)
    return round(s.sum(),3)

In [37]:
xx = data[data['subjectId'] == "1636-69-032"]
print(xx.dtypes)
xx = fullDay(xx)
xx = convertUnits(xx,'mmol')
xx = hourlySamples(xx)

Display Time    datetime64[ns]
GlucoseValue           float64
subjectId               object
dtype: object

In [38]:
xx

                     GlucoseValue    subjectId
Display Time
2016-01-14 00:03:15      6.666667  1636-69-032
2016-01-14 01:03:15      7.055556  1636-69-032
2016-01-14 02:03:15      6.833333  1636-69-032
2016-01-14 03:03:15      6.555556  1636-69-032
2016-01-14 04:03:15      5.888889  1636-69-032
...                           ...          ...
2016-01-18 19:02:53      6.055556  1636-69-032
2016-01-18 20:02:53      7.000000  1636-69-032
2016-01-18 21:02:53      7.444444  1636-69-032
2016-01-18 22:02:53      7.166667  1636-69-032
2016-01-18 23:02:52      5.888889  1636-69-032

[120 rows x 2 columns]

In [40]:
LI = glucoseLiabilityIndex(xx, 'mmol')
print(LI)

0.778