In [1]:
import pandas as pd
import numpy as np

In [2]:
def createGap(df,start,end):

    #df = readData()
    l = len(df.index)
    if end>l:
        end = l
        
    for i in range(start,end):
        df['GlucoseValue'][i]=0
    
    
    return df

def detectGap(testing_data):

        l = []
        k = -1
        for i in testing_data['GlucoseValue']:
            k+=1
            if i==0:
                l.append(k)
        b = min(l)
        e = max(l)
        #print(b,e)
        gap=e-b
        # print("Gap detected!")
        return b,e,gap

In [3]:
def index_agreement(o,s):
        
    ia = 1 -(np.sum((o-s)**2))/(np.sum((np.abs(s-np.mean(o))+np.abs(o-np.mean(o)))**2))

    return ia

In [7]:
df = pd.read_csv('GlucoCheck/Data/consolidatedDataForPackage.csv')     
df['Display Time'] = df['Display Time'].apply(lambda x: pd.datetime.strptime(str(x), '%Y-%m-%d %H:%M:%S'))
# data = data.set_index(['Display Time'], drop=True)
df.drop(['subjectId'], axis=1, inplace=True)

In [8]:

df

              Display Time  GlucoseValue
0      2016-06-21 00:00:00         197.0
1      2016-06-21 00:15:00         208.0
2      2016-06-21 00:30:00         226.0
3      2016-06-21 00:45:00         241.0
4      2016-06-21 01:00:00         250.0
...                    ...           ...
316522 2025-06-28 23:36:00         206.0
316523 2025-06-28 23:41:00         208.0
316524 2025-06-28 23:46:00         213.0
316525 2025-06-28 23:51:00         224.0
316526 2025-06-28 23:56:00         235.0

[316527 rows x 2 columns]

In [11]:
from sklearn.preprocessing import MinMaxScaler
data = df.sort_index(ascending=True, axis=0)
new_data = pd.DataFrame(index=range(0,len(df)),columns=['Date', 'GV'])
new_data['Date'] = data['Display Time']
new_data['GV'] = data['GlucoseValue']

In [12]:
new_data.index = new_data.Date
new_data.drop('Date', axis=1, inplace=True)
dataset = new_data.values
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(dataset)
train= scaled_data[:int(df.shape[0]*0.8)]
valid = scaled_data[int(df.shape[0]*0.8):]

In [13]:
x_train,y_train,x_test,y_test = [],[],[],[]
for i in range(60,train.shape[0]):
    x_train.append(train[i-60:i,0])
    y_train.append(train[i,0])

for z in range(60,valid.shape[0]):
    x_test.append(valid[z-60:z,0])
    y_test.append(valid[z,0])

In [14]:
x_train, y_train,x_test,y_test = np.array(x_train), np.array(y_train),np.array(x_test),np.array(y_test)
x_train = np.reshape(x_train, (x_train.shape[0],x_train.shape[1],1))
x_test=np.reshape(x_test,(x_test.shape[0],x_test.shape[1],1))

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout,LSTM
from keras.optimizers import Adam
model = Sequential()
model.add(LSTM(units=100,input_shape=(x_train.shape[1],1),return_sequences=True))
model.add(LSTM(units=100))
model.add(Dropout(0.4))
model.add(Dense(1))
ADAM = Adam(0.0005, beta_1=0.9, beta_2=0.999, amsgrad=False)
model.compile(loss='mean_squared_error', optimizer=ADAM)
history = model.fit(x_train,y_train,epochs=1,batch_size=72,validation_data=(x_test,y_test),verbose=1,shuffle=False)
plt.plot(history.history['loss'], label='train')
plt.plot(history.history['val_loss'], label='test')
plt.legend()
plt.show()

Train on 253161 samples, validate on 63246 samples
Epoch 1/1
 75096/253161 [=======>......................] - ETA: 7:02 - loss: 0.0036

In [4]:
data = data[data['subjectId']=='1636-69-032']

In [131]:
start = 800
end = start+500
data = data.reset_index(drop=True)
data_with_missing = data.copy()
data_with_missing = createGap(data_with_missing,start,end)

data_with_missing.drop(['subjectId'], axis=1, inplace=True)

b,e,g = (detectGap(data_with_missing))

In [132]:
b,e,g

(800, 1299, 499)

                     GlucoseValue
Display Time
2016-01-13 12:58:17         122.0
2016-01-13 13:03:17         123.0
2016-01-13 13:08:17         124.0
2016-01-13 13:13:17         128.0
2016-01-13 13:18:17         133.0
...                           ...
2016-01-16 07:13:05          88.0
2016-01-16 07:18:05          95.0
2016-01-16 07:23:04          99.0
2016-01-16 07:28:04          97.0
2016-01-16 07:33:04          89.0

[800 rows x 1 columns]

In [157]:
index_agreement(np.asarray(o),np.asarray(s))

0.4175258611243552