In [1]:
import pandas as pd

In [2]:
Gluvarpro = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/Gluvarpro/Gluvarpro.csv')

In [3]:
Hall = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/Hall/Hall_data.csv')

In [4]:
CGM = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/CGM/CGM_Analyzer_Appended.csv')

In [5]:
Ohio = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/Ohio-Data/OhioTraining_consolidated.csv')

In [6]:
consolidatedDataForPackage = pd.concat([Gluvarpro, Hall, CGM, Ohio], ignore_index = True, sort = False)

In [7]:
consolidatedDataForPackage['Display Time'] = consolidatedDataForPackage['Display Time'].apply(lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
consolidatedDataForPackage = consolidatedDataForPackage.set_index(['Display Time'], drop=True)

In [8]:
consolidatedDataForPackage

                     Unnamed: 0 subjectId  GlucoseValue
Display Time
2016-06-21 00:00:00         0.0     GVP01         197.0
2016-06-21 00:15:00         1.0     GVP01         208.0
2016-06-21 00:30:00         2.0     GVP01         226.0
2016-06-21 00:45:00         3.0     GVP01         241.0
2016-06-21 01:00:00         4.0     GVP01         250.0
...                         ...       ...           ...
2025-06-28 23:36:00         NaN     OD584         206.0
2025-06-28 23:41:00         NaN     OD584         208.0
2025-06-28 23:46:00         NaN     OD584         213.0
2025-06-28 23:51:00         NaN     OD584         224.0
2025-06-28 23:56:00         NaN     OD584         235.0

[316527 rows x 3 columns]

In [9]:
consolidatedDataForPackage.to_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/consolidatedDataForPackage.csv')

In [10]:
consolidatedDataForPaper = pd.concat([Gluvarpro, CGM, Ohio], ignore_index = True, sort = False)

In [11]:
consolidatedDataForPaper['Display Time'] = consolidatedDataForPaper['Display Time'].apply(lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
consolidatedDataForPaper = consolidatedDataForPaper.set_index(['Display Time'], drop=True)

In [12]:
consolidatedDataForPaper

                     Unnamed: 0 subjectId  GlucoseValue
Display Time
2016-06-21 00:00:00         0.0     GVP01         197.0
2016-06-21 00:15:00         1.0     GVP01         208.0
2016-06-21 00:30:00         2.0     GVP01         226.0
2016-06-21 00:45:00         3.0     GVP01         241.0
2016-06-21 01:00:00         4.0     GVP01         250.0
...                         ...       ...           ...
2025-06-28 23:36:00         NaN     OD584         206.0
2025-06-28 23:41:00         NaN     OD584         208.0
2025-06-28 23:46:00         NaN     OD584         213.0
2025-06-28 23:51:00         NaN     OD584         224.0
2025-06-28 23:56:00         NaN     OD584         235.0

[212853 rows x 3 columns]

In [13]:
consolidatedDataForPaper.to_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/consolidatedDataForPaper.csv')