The package used below will have to be explicitly imported

Package name: TSForecasting

All the packages mentioned below will be installed automatically installed in case they are missing :
 - pandas
 - numpy
 - matplotlib
 - dateutil
 - re

The pandas package that is explicitly imported will be used to read the data supplied by you

In [1]:
from GlucoCheck.glucoCheck import glucoCheckOps
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

Using TensorFlow backend.

=========================================================================================================

***
***
To read the documentation of the class, just run the following code

In [2]:
glucoCheckOps?

Now, we create an object of the glucoCheckOps class

This is object which has the model and methods to predict the imputed values

In [3]:
obj = glucoCheckOps()

Object Created!

***
***
To read the documentation of any method:
1. Place the cursor inside the parenthesis of the function, hold down shift and press tab
2. Run the following code (substitute 'impute' with the name of the method)

In [4]:
# obj.impute?

================================================================================================================

***
***
The following method describes the __consolidated data__ used to train the model
***

In [5]:
obj.dataDescribe()

Total Readings in the data:200018




Here is the statistical analysis of the data:

,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Excursions,Days,Daytime Mean:,Nighttime Mean
Subject ID,,,,,,,,
GVP01,384,320.00,52.00,171.766,38.0,4,147.489,123.840
GVP03,45504,429.00,25.00,137.062,6483.0,565,143.349,140.319
ID01,1920,291.37,55.39,156.196,129.0,4,141.120,112.949
ID02,2400,170.98,66.35,93.969,188.0,5,97.876,90.971
ID03,2400,508.71,61.25,208.081,154.0,5,181.297,222.207
ID11,1440,315.00,95.40,69.697,104.5,3,183.188,146.605
ID12,2400,271.80,93.60,84.503,168.5,5,182.104,153.708
ID13,960,244.73,94.75,122.384,51.0,2,149.884,123.279
ID21,1920,214.20,79.20,52.120,143.5,4,133.148,105.653
ID22,1440,170.39,34.20,66.590,104.0,3,99.752,74.828
ID23,2880,326.83,64.53,131.186,254.0,6,155.833,127.447
ID29,1440,185.94,75.15,107.207,127.0,3,118.939,106.211
ID30,1920,158.40,59.40,57.162,175.0,4,100.554,103.976
ID31,960,169.92,72.55,110.850,90.0,2,110.909,112.361
ID32,1249,202.00,47.00,92.380,322.0,13,101.422,94.364
ID33,1203,163.80,46.80,75.511,298.0,13,103.058,87.040
OD540,11592,369.00,40.00,120.787,941.5,44,134.925,139.176
OD544,10090,400.00,48.00,143.732,824.5,42,174.001,142.254
OD552,8744,345.00,45.00,123.582,767.0,37,144.886,140.881
OD559,10280,400.00,40.00,131.301,875.0,40,175.467,151.754
OD563,11701,400.00,40.00,87.185,896.5,44,149.925,134.748
OD567,10348,400.00,40.00,130.058,884.5,45,165.792,124.850
OD570,10606,377.00,46.00,121.315,895.5,39,184.608,201.401
OD575,11483,400.00,40.00,114.765,1002.5,44,141.965,140.154
OD584,11576,400.00,40.00,169.562,1094.0,44,187.664,208.647
OD588,12206,400.00,40.00,116.908,1157.0,44,165.765,163.866
OD591,10476,397.00,40.00,129.309,937.0,43,158.817,152.903
OD596,10496,367.00,40.00,115.950,939.5,46,148.104,136.780

***
Let's have a look at the glucose variability indices of individuals in the consolidated data
***

In [ ]:
obj.gvIndices()

***
***
To see what a specific individual's glucose values look like, run the following line. 

In between the quotes, pass the Subject ID of that individual

The different subject ID's can be found in the description table above
***

In [ ]:
obj.plotIndividual('ID01')

***
To view an individuals description, pass the Subject ID of that individual in the quotes 
***

In [ ]:
obj.individualDescribe('ID01')

***
To view an individuals glucose variability indices, pass the Subject ID of that individual in the quotes 
***

In [ ]:
obj.individualGvIndices('ID01')

***
***
Training the model on the preloaded dataset (described above)
***

In [ ]:
obj.train()

***
***
To test the pretrained model, write the path of the testing dataset below:
***
Here, we use a pre loaded testing file

In [ ]:
testing_data = pd.read_csv("~/Desktop/NCSA_genomics/Python - notebooks/GlucoCheck/Data/test/Training-TestFile.csv")
testing_data.head(10)

***
***
Now, we run the imputation model on the data you supplied above

The graph you see is the imputed glucose values
***

In [ ]:
obj.impute(testing_data)

***
Let's have a look at the imputed values
***

In [ ]:
imputed_values = pd.read_csv("~/Desktop/NCSA_genomics/Python - notebooks/GlucoCheck/Data/Output/ImputedValues.csv")
imputed_values.head(10)

***
Let's see a description of the imputed values
***

In [ ]:
obj.individualDescribe('T101',imputed_values)

***
Let's see the glucose variability indices of the imputed values
***

In [ ]:
obj.individualGvIndices('T101',imputed_values)

===============================================================================================================

In case you wish to train your own model, use the following code

Write the path to your file for the training and test set



Be careful of the following:
1. Enter the path of your file
2. The file should have only two columns in the following order with the exact names: Timestamp, GlucoseValue
3. The date of the timestamp should have the entire year (all 4 digits). Make sure the data is numeric (irrespective of the delimiter)

In [ ]:
training_data = pd.read_csv("~/Desktop/NCSA_genomics/Python - notebooks/GlucoCheck/Data/Gluvarpro/Gluvarpro.csv")
training_data.head(10)

***
***
Use the following function to train the model on the data you just supplied
***

In [ ]:
obj.train(training_data)

***
***
To test the model you just trained, wuse the following code
***
Here's a glimpse of the preloaded training file

In [ ]:
testing_data.head(10)

***
***
Now, we run the imputation model on the data you supplied above
***

In [ ]:
obj.impute(testing_data)

***
Let's have a look at the imputed values
***

In [ ]:
imputed_values = pd.read_csv("/Users/snehgajiwala/Desktop/NCSA_genomics/Python - notebooks/GlucoCheck/Data/Output/ImputedValues.csv")
imputed_values.head(10)

***
Let's see a description of the imputed values
***

In [ ]:
obj.individualDescribe('T101',imputed_values)

***
Let's see the glucose variability indices of the imputed values
***

In [ ]:
obj.individualGvIndices('T101',imputed_values)