In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("~/Desktop/Healthy_volunteer_example_data_FreeStyle_Libre.txt", sep='\t')
data

,ID,Time,Record Type,Historic Glucose (mmol/L),Scan Glucose (mmol/L),Non-numeric Rapid-Acting Insulin,Rapid-Acting Insulin (units),Non-numeric Food,Carbohydrates (grams),Non-numeric Long-Acting Insulin,Long-Acting Insulin (units),Notes,Strip Glucose (mmol/L),Ketone (mmol/L),Meal Insulin (units),Correction Insulin (units),User Change Insulin (units),Previous Time,Updated Time
0,85,2019/02/21 13:57,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/02/21 13:55,2019/02/21 13:57
1,90,2019/02/21 14:59,1,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,94,2019/02/21 15:36,1,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,98,2019/02/21 16:04,1,NaN,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,102,2019/02/21 16:33,1,NaN,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,16143047311241596053,2019/03/07 05:48,0,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1466,16143047311241596068,2019/03/07 06:03,0,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1467,16143047311241596083,2019/03/07 06:18,0,4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1468,16143047311241596098,2019/03/07 06:33,0,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1469,16143047311241596113,2019/03/07 06:48,0,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data = data[data['Record Type']==0]
data

,ID,Time,Record Type,Historic Glucose (mmol/L),Scan Glucose (mmol/L),Non-numeric Rapid-Acting Insulin,Rapid-Acting Insulin (units),Non-numeric Food,Carbohydrates (grams),Non-numeric Long-Acting Insulin,Long-Acting Insulin (units),Notes,Strip Glucose (mmol/L),Ketone (mmol/L),Meal Insulin (units),Correction Insulin (units),User Change Insulin (units),Previous Time,Updated Time
205,16143047311241576508,2019/02/21 14:59,0,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,16143047311241576523,2019/02/21 15:14,0,5.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,16143047311241576538,2019/02/21 15:29,0,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,16143047311241576553,2019/02/21 15:44,0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,16143047311241576568,2019/02/21 15:59,0,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,16143047311241596053,2019/03/07 05:48,0,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1466,16143047311241596068,2019/03/07 06:03,0,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1467,16143047311241596083,2019/03/07 06:18,0,4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1468,16143047311241596098,2019/03/07 06:33,0,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1469,16143047311241596113,2019/03/07 06:48,0,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data2 = data[['Time', 'Historic Glucose (mmol/L)']].copy()
data2['Historic Glucose (mmol/L)']*=18
data2

                  Time  Historic Glucose (mmol/L)
205   2019/02/21 14:59                      102.6
206   2019/02/21 15:14                       97.2
207   2019/02/21 15:29                       91.8
208   2019/02/21 15:44                       90.0
209   2019/02/21 15:59                       82.8
...                ...                        ...
1465  2019/03/07 05:48                       79.2
1466  2019/03/07 06:03                       82.8
1467  2019/03/07 06:18                       84.6
1468  2019/03/07 06:33                       82.8
1469  2019/03/07 06:48                       79.2

[1265 rows x 2 columns]

In [19]:
#data2['Time'] = data2['Time'].apply(lambda x: pd.datetime.strptime(x, '%Y/%m/%d %H:%M'))
data2['ID'] = 'ID33'

In [21]:
data2.rename(columns = {'ID':'subjectId', 'Time':'Display Time', 'Historic Glucose (mmol/L)':'GlucoseValue'}, inplace = True)

In [24]:
data2 = data2[["Display Time", "subjectId", "GlucoseValue"]]

In [27]:
data2 = data2.set_index(['Display Time'], drop=True)

In [28]:
data2

                    subjectId  GlucoseValue
Display Time
2019-02-21 14:59:00      ID33         102.6
2019-02-21 15:14:00      ID33          97.2
2019-02-21 15:29:00      ID33          91.8
2019-02-21 15:44:00      ID33          90.0
2019-02-21 15:59:00      ID33          82.8
...                       ...           ...
2019-03-07 05:48:00      ID33          79.2
2019-03-07 06:03:00      ID33          82.8
2019-03-07 06:18:00      ID33          84.6
2019-03-07 06:33:00      ID33          82.8
2019-03-07 06:48:00      ID33          79.2

[1265 rows x 2 columns]

In [29]:
data2.to_csv("~/Desktop/file.csv")